<h1 style="color: {{ account.acc_color }}">{{ account.name }}</h1>
<div style="color:grey">{{ at_symbol }}{{ account.username }}</div>
<h1>QUESTIONS</h1>
{% for x in feed %}
	<div style="border:2px solid black;margin:30px;">
		<h1><b>{{ x.Qtitle }}</b></h1><br>
		{% if x.is_img1 %}
			<img src="{{ x.get_img1 }}" height="400" width="400"><br>
		{% endif %}
		{% if x.is_img2 %}
			<img src="{{ x.get_img2 }}" height="400" width="400"><br>
		{% endif %}
		{% if x.is_img3 %}
			<img src="{{ x.get_img3 }}" height="400" width="400"><br>
		{% endif %}
		{% if x.is_img4 %}
			<img src="{{ x.get_img4 }}" height="400" width="400"><br>
		{% endif %}
		<p style="color:grey">{{ x.Qdesc }}</p>asked by: <b><a href="/Qapp/user/all_users/{{ x.asker }}">{{ x.asker }}</a></b>
	</div>
{% endfor %}